.ExitButton {
    -fx-background-color: #e0ffff;
    background-color: #e0ffff;
    -fx-border-radius: 6px;
    border-radius: 6px;
    -fx-border-color: black;
    border-color: black;
    -fx-border-width: 2px;
    border-width: 2px;
    -fx-opacity: 1;
    opacity: 1;
}

.ExitButton:hover {
    -fx-opacity: 0.7;
    opacity: 0.7;
}
