.tileContainer {
    -fx-border-color: black;
    border-color: black;
    -fx-border-radius: 2px;
    border-radius: 2px;
}

.movementTile {
    -fx-background-color: #92fafa;
    -fx-border-color: black;
    -fx-border-width: 1px;
}
