.tileContainer {
    -fx-border-color: black;
    border-color: black;
    -fx-border-radius: 2px;
    border-radius: 2px;
}

.empty-tile {
    -fx-background-color: #fdcc6f;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
}

.obstacle-tile {
    -fx-background-color: #252525;
}

.Snake {
    -fx-background-color: #026802;
}
